<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="http://getbootstrap.com/examples/blog/#">Home</a>
            <a class="blog-nav-item" href="http://getbootstrap.com/examples/blog/#">New features</a>
            <a class="blog-nav-item" href="http://getbootstrap.com/examples/blog/#">Press</a>
            <a class="blog-nav-item" href="http://getbootstrap.com/examples/blog/#">New hires</a>
            <a class="blog-nav-item" href="http://getbootstrap.com/examples/blog/#">About</a>
        </nav>
    </div>
</div>


<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>



        <div class="col-sm-8 blog-main" id="row">

            <div class="blog-post">
                <h2 class="blog-post-title">Sample blog post</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="http://getbootstrap.com/examples/blog/#">Mark</a></p>

                <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                <hr>

            </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

    <div id="sidebar">
    </div>


</div><!-- /.container -->

